---
interface Props {
	title: string;
	text: string;
	img: string;
    pick: string;
	href: string;
}

const { href, title, text, img, pick } = Astro.props;
---

<article class="relative group flex flex-col text-xs text-[var(--color-accent)] max-w-sm w-auto md:w-full p-5 rounded-2xl bg-[var(--color-primary)] backdrop-blur-md border border-[var(--color-accent)] shadow-lg hover:shadow-2xl hover:scale-[1.02] transition-all duration-300 overflow-hidden">
    <!-- Imagen destacada -->
    <div class="relative md:overflow-hidden justify-items-center rounded-xl">
        <img src={img} alt={title} class="w-auto h-32  md:w-full md:h-44 object-cover rounded-xl transition-transform duration-300 group-hover:scale-105" />
    </div>

    <!-- Contenido -->
    <div class="mt-4 w-auto h-24 ">
        <h2 class="text-xl font-bold">{title}</h2>
        <p class="mt-2 leading-relaxed">{text}</p>
    </div>

    <!-- Footer -->
    <div class="mt-4 flex justify-between text-center items-center">
        <div class="z-10">
        </div>
        <div class="absolute flex items-center bg-[var(--color-secondary)] w-20 h-20 mt-5 -ml-5 rounded-tr-full px-3 z-0">
            
        </div>

        <a href={href} class=" bg-[var(--color-secondary)] w-40 px-5 py-4 rounded-lg transition-all hover:bg-blue-900 hover:scale-105">
            View →
        </a>
    </div>
</article>

